.load-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.load-more-btn {
    background-color: hsl(237.62, 84.87%, 76.67%);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.load-more-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.load-more-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.favorite {
    background: var(--salmon-pale-purple) !important;
    border: 1px solid var(--salmon-pale-purple) !important;
    color: var(--soft-ivory) !important;
}