{% extends 'base.html' %}
{% load static %}

{% block title %}Mesajlar - Kitlab{% endblock title %}

{% block stylesheet %}
<meta name="logged-user" content="{{ user.id }}">
<link rel="stylesheet" href="{% static 'css/message/app.css' %}">
<link rel="stylesheet" href="{% static 'css/left-side.css' %}">
{% endblock stylesheet %}

{% block content %}
  <!--
    - MAIN
  -->

  <main>

    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">

        <!--
          - SIDEBAR
        -->

        {% include 'sidebar.html' %}

        <div class="d-lg-flex chat-container" style="width: 100%;">
          <div class="chat-leftsidebar">
            <div class="p-3 border-bottom">
              <div class="media user-card">
                <div class="align-self-center mr-3">
                  {% if user.profile.avatar %}
                  <img src="{{ user.profile.avatar.url }}" alt="{{ user.first_name }}" class="avatar-xs rounded-circle"/>
                  {% else %}
                  <img src="{% static 'images/default-profile-photo.jpg' %}" alt="{{ user.first_name }}" class="avatar-xs rounded-circle"/>
                  {% endif %}
                </div>
                <div class="media-body">
                  <h5 class="font-size-15 mt-0 mb-0">{{ user.first_name }}</h5>
                </div>

                <div>
                  <div class="dropdown chat-noti-dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul class="list-unstyled chat-list"  id="conversation-list">
              {% for partner in partners %}
              <li onclick="loadMessage(this)" data-room="{{ partner.conversation_id }}">
                <a href="javascript:void(0)">
                  <div class="media">

                    <div class="user-img online align-self-center mr-3">
                      {% if partner.profile.avatar %}
                      <img src="{{ partner.profile.avatar.url }}" class="rounded-circle avatar-xs" alt="{{ partner.first_name }}">
                      {% else %}
                      <img src="{% static 'images/default-profile-photo.jpg' %}" class="rounded-circle avatar-xs" alt="{{ partner.first_name }}">
                      {% endif %}
                      <span class="user-status"></span>
                    </div>

                    <div class="media-body overflow-hidden">
                      <h5 class="text-truncate font-size-14 mb-1" id="full-name">{{ partner.first_name }}</h5>
                      <p class="text-truncate mb-0">Hey! there I'm available</p>
                    </div>
                    <div class="font-size-11"></div>
                  </div>
                </a>
              </li>
              {% endfor %}

            </ul>
          </div>

          <div class="w-100 user-chat mt-4 mt-sm-0">
            <div class="p-3 px-lg-4 user-chat-border">
              <div class="row">
                <div class="col-md-4 col-6 media user-card">

                  <button class="mr-1 go-back-btn d-none" onclick="closeChat()"><ion-icon name="chevron-back-outline"></ion-icon></button>

                  <div class="align-self-center mr-3">
                    <img src="" alt="" id="current-partner-avatar" class="avatar-xs rounded-circle"/>
                  </div>
                  <h5 class="font-size-15 mb-0 text-truncate" id="current-partner-name"></h5>
                </div>

                <div class="col-md-8 col-6">
                  <ul class="list-inline user-chat-nav text-right mb-0">
                    <li class="list-inline-item m-0 d-sm-inline-block">
                      <div class="dropdown">
                        <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <ion-icon name="settings-outline"></ion-icon>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">View Profile</a>
                          <a class="dropdown-item" href="#">Clear chat</a>
                          <a class="dropdown-item" href="#">Muted</a>
                          <a class="dropdown-item" href="#">Delete</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="px-lg-2 overflow-auto">
              <div class="chat-conversation p-3">
                <ul class="list-unstyled mb-0 pr-3 overflow-auto" id="message-list"></ul>
              </div>

            </div>
            <div class="px-lg-3" id="message-input">
              <div class="p-3 chat-input-section">
                <div class="row">
                  <div class="col">
                    <div class="position-relative">
                      <input type="text" class="form-control chat-input" id="message" placeholder="Mesaj...">

                    </div>
                  </div>
                  <div class="col-auto send-message-btn" id="send">
                    <ion-icon name="paper-plane-outline" class="d-sm-inline-block"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>


      <!--
      - TESTIMONIALS, CTA & SERVICE
    -->

  </main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/message/message.js' %}"></script>
<script src="{% static 'js/message/jquery.min.js' %}"></script>
<script src="{% static 'js/message/bootstrap.bundle.min.js' %}"></script>
{% endblock script %}