{% extends 'base.html' %}
{% load static %}
{% load custom_book_filters %}

{% block title %}{{ page_title }} - Kitlab{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/books.css' %}">
{% endblock stylesheet %}

{% block content %}
  <!--
    - MAIN
  -->

  <main>

    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">

        <!--
          - SIDEBAR
        -->
        {% include 'sidebar.html' %}

        <div class="product-box">

          <!--
            - PRODUCT GRID
          -->

          <div class="product-main">

            <h2 class="title">{{ page_title }}</h2>

            {% include 'books.html' %}

          </div>

        </div>

      </div>

    </div>

  </main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/books.js' %}"></script>
{% endblock script %}