{% extends 'base.html' %}
{% load static %}
{% load custom_book_filters %}

{% block title %}Ana Səhifə - Kitlab{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/index/rotate-text.css' %}">
{% endblock stylesheet %}

{% block content %}
  <!--
    - MAIN
  -->

  <main>

    <!--
      - BANNER
    -->

    <div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src="{% static 'images/banner.jpg' %}" loading="lazy" alt="Kitlab" class="banner-img">

            <div class="banner-content">

              <div class="rotating">
                <p class="rotating-text">Kitlab ilə</p>

                <p class="rotating-text">
                  <span class="word text-1">tez sat.</span>
                  <span class="word text-2">kəşf et!</span>
                  <span class="word text-3">ucuz al.</span>
                  <span class="word text-4">qazan.</span>
                </p>

              </div>

            </div>

          </div>

          <!-- <div class="slider-item">

            <img src="./assets/images/banner-2.jpg" alt="modern sunglasses" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending accessories</p>

              <h2 class="banner-title">Modern sunglasses</h2>

              <p class="banner-text">
                starting at &dollar; <b>15</b>.00
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div> -->

        </div>

      </div>

    </div>

    <!--
      - CATEGORY
    -->

    <div class="category">

      <div class="container">

        <div class="category-item-container has-scrollbar">
          
          {% for category in categories %}
          <div class="category-item">

            <div class="category-img-box">
              <p>{{ category.emoji_code|safe }}</p>
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">{{ category.name }}</h3>

                <p class="category-item-amount">({{ category|approved_books_count }})</p>
              </div>

              <a href="{% url 'category-filter' category.slug %}" class="category-btn">Hamsına Bax</a>

            </div>

          </div>
          {% endfor %}

        </div>

      </div>

    </div>

    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->
        {% include 'sidebar.html' %}

        <div class="product-box">

          <!--
            - PRODUCT GRID
          -->

          <div class="product-main">

            <h2 class="title">Ən Son Elanlar</h2>

            {% include 'books.html' %}

          </div>

        </div>

      </div>

    </div>

    <!--
      - TESTIMONIALS, CTA & SERVICE
    -->

    <div>

      <div class="container">

        <div class="testimonials-box">

          <!--
            - TESTIMONIALS
          -->
          {% if quote %}
          <div class="testimonial">

            <h2 class="title">Dahilərdən sitatlar</h2>
            <div class="testimonial-card">

              <img src="{{ quote.author_avatar.url }}" alt="{{ quote.author }}" class="testimonial-banner" width="80" height="80">

              <p class="testimonial-name">{{ quote.author }}</p>

              <p class="testimonial-title">{{ quote.profession }}</p>

              <img src="{% static 'images/icons/quotes.svg' %}" alt="quotation" class="quotation-img" width="26">

              <i class="testimonial-desc">
                "{{ quote.text }}"
              </i>

            </div>

          </div>
          {% endif %}

          <!--
            - CTA
          -->

          <div class="cta-container">

            <img src="{% static 'images/cta-banner.jpg' %}" alt="Kitlab CTA Banner" class="cta-banner">

            <div class="cta-content">

              <p class="discount">~40% Qənaət et</p>

              <h2 class="cta-title">Al, oxu və sat</h2>

              <p class="cta-text">Kitab Laboratoriyası</p>

              <button class="cta-btn">Kitlab</button>

            </div>

          </div>

          <!--
            - SERVICE
          -->

          <div class="service">

            <h2 class="title">Üstünlüklər</h2>

            <div class="service-container">

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="boat-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Ekoloji Yanaşma</h3>
                  <p class="service-desc">Oxunmuş kitabları paylaşaraq təbiəti qoruyun.</p>

                </div>

              </a>

              <a href="#" class="service-item">
              
                <div class="service-icon">
                  <ion-icon name="rocket-outline"></ion-icon>
                </div>

                <div class="service-content">
              
                  <h3 class="service-title">Sürətli Əlaqə</h3>
                  <p class="service-desc">Alıcılar və satıcılar birbaşa əlaqə qura bilər.</p>
              
                </div>

              </a>

              <a href="#" class="service-item">
              
                <div class="service-icon">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              
                <div class="service-content">

                  <h3 class="service-title">Daimi Dəstək</h3>
                  <p class="service-desc">Müraciətlərinizə ən qısa zamanda cavab veriləcək.</p>
              
                </div>
              
              </a>

              <a href="#" class="service-item">
              
                <div class="service-icon">
                  <ion-icon name="arrow-undo-outline"></ion-icon>
                </div>
              
                <div class="service-content">
              
                  <h3 class="service-title">Hər Kitab Bir Hekayədir</h3>
                  <p class="service-desc">Kitabını paylaş, hekayəni davam etdir.</p>
              
                </div>
              
              </a>

              <a href="#" class="service-item">
              
                <div class="service-icon">
                  <ion-icon name="ticket-outline"></ion-icon>
                </div>
              
                <div class="service-content">
              
                  <h3 class="service-title">Ən Ucuz Qiymətlər</h3>
                  <p class="service-desc">Kitablar üçün münasib qiymətlər – həm alın, həm də sat!</p>
              
                </div>
              
              </a>

            </div>

          </div>

        </div>

      </div>

    </div>


    <!--
      - BLOG
    -->

    <!-- <div class="blog">

      <div class="container">

        <div class="blog-container has-scrollbar">

          <div class="blog-card">
          
            <a href="#">
              <img src="./assets/images/blog-4.jpg" alt="Curbside fashion Trends: How to Win the Pickup Battle."
                class="blog-banner" width="300">
            </a>
          
            <div class="blog-content">
          
              <a href="#" class="blog-category">Electronics</a>
          
              <h3>
                <a href="#" class="blog-title">Curbside fashion Trends: How to Win the Pickup Battle.</a>
              </h3>
          
              <p class="blog-meta">
                By <cite>Mr Pawar</cite> / <time datetime="2022-03-15">Mar 15, 2022</time>
              </p>
          
            </div>
          
          </div>

        </div>

      </div>

    </div> -->

  </main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/index/rotate-text.js' %}"></script>
{% endblock script %}