{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitlab</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/sale/success-sale.css' %}">
</head>

<body>
    <div class="container">
        <div class="section-banner">
            <div id="star-1">
                <div class="curved-corner-star">
                    <div id="curved-corner-bottomright"></div>
                    <div id="curved-corner-bottomleft"></div>
                </div>
                <div class="curved-corner-star">
                    <div id="curved-corner-topright"></div>
                    <div id="curved-corner-topleft"></div>
                </div>
            </div>

            <div id="star-2">
                <div class="curved-corner-star">
                    <div id="curved-corner-bottomright"></div>
                    <div id="curved-corner-bottomleft"></div>
                </div>
                <div class="curved-corner-star">
                    <div id="curved-corner-topright"></div>
                    <div id="curved-corner-topleft"></div>
                </div>
            </div>

            <div id="star-3">
                <div class="curved-corner-star">
                    <div id="curved-corner-bottomright"></div>
                    <div id="curved-corner-bottomleft"></div>
                </div>
                <div class="curved-corner-star">
                    <div id="curved-corner-topright"></div>
                    <div id="curved-corner-topleft"></div>
                </div>
            </div>

            <div id="star-4">
                <div class="curved-corner-star">
                    <div id="curved-corner-bottomright"></div>
                    <div id="curved-corner-bottomleft"></div>
                </div>
                <div class="curved-corner-star">
                    <div id="curved-corner-topright"></div>
                    <div id="curved-corner-topleft"></div>
                </div>
            </div>

            <div id="star-5">
                <div class="curved-corner-star">
                    <div id="curved-corner-bottomright"></div>
                    <div id="curved-corner-bottomleft"></div>
                </div>
                <div class="curved-corner-star">
                    <div id="curved-corner-topright"></div>
                    <div id="curved-corner-topleft"></div>
                </div>
            </div>

            <div id="star-6">
                <div class="curved-corner-star">
                    <div id="curved-corner-bottomright"></div>
                    <div id="curved-corner-bottomleft"></div>
                </div>
                <div class="curved-corner-star">
                    <div id="curved-corner-topright"></div>
                    <div id="curved-corner-topleft"></div>
                </div>
            </div>

            <div id="star-7">
                <div class="curved-corner-star">
                    <div id="curved-corner-bottomright"></div>
                    <div id="curved-corner-bottomleft"></div>
                </div>
                <div class="curved-corner-star">
                    <div id="curved-corner-topright"></div>
                    <div id="curved-corner-topleft"></div>
                </div>
            </div>

            <div id="star-8">
                <div class="curved-corner-star">
                    <div id="curved-corner-bottomright"></div>
                    <div id="curved-corner-bottomleft"></div>
                </div>
                <div class="curved-corner-star">
                    <div id="curved-corner-topright"></div>
                    <div id="curved-corner-topleft"></div>
                </div>
            </div>
        </div>

        <div class="info-text">
            <p>Kitabınız yoxlanıldıqdan sonra satışa çıxarılacaq. Bu proses bir neçə saat çəkə bilər.</p>
            <p><span id="countdown">10</span> saniyə ərzində əsas səhifəyə yönləndiriləcəksiniz</p>

            <div class="redirect-btn">
                <a href="/"><button type="button">Əsas Səhifə</button></a>
            </div>
        </div>
    </div>
</body>

</html>

<script src="{% static '/js/sale/success-sale.js' %}"></script>