.sale-container {
    padding: 20px 0;

    width: 80%;
    margin: 0 auto;
}

.info-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
}

.icon {
    margin-right: 10px;
}

.info-text {
    font-size: 14px;
    color: #555555;
    margin: 0;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 50%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding-right: calc(1rem * .5);
    padding-left: calc(1rem * .5);
}

.w-25 {
    width: 25%;
}

.w-100 {
    width: 100%;
}

.form-group.full-width {
    width: 100%;
}

.form-group label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input,
.form-group select {
    height: 40px;
}

.form-group select:focus {
    border-color: #007bff;
    box-shadow: 0 0 2px rgba(0, 123, 255, 0.2);
}

.form-group textarea {
    resize: none;
}

.sale-btn {
    margin-top: 15px;
    align-items: center;
}

.submit-btn {
    width: 100px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

/* Responsive */
@media (max-width: 768px) {
    .form-group {
        width: 100% !important;
    }

    .sale-container {
        width: 100%;
        margin: 0;
    }
}

#book-images {
    display: flex;
    gap: 10px;
}

#main-image-container {
    text-align: center;
    width: 100px;
    height: 100px;
    display: none;
}

#image-input {
    display: none;
}

.image-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}

.image-preview {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container img:hover {
    cursor: pointer;
}

.remove-image {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}