{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Kitlab{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <meta name="description" content="Kitab oxumaq telefonunuzun batareya ömrünü uzadır.">
    <meta name="theme-color" content="#ffffff">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="{% block og_title %}Kitlab{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Kitab oxumaq telefonunuzun batareya ömrünü uzadır.{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'images/og-image.png' %}{% endblock %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- Genel Favicon -->
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">

    <!-- PNG favicon options (browsers may use these for different sizes) -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">

    <!-- App icons for Android Chrome -->
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon/android-chrome-512x512.png' %}">

    <!-- Apple Touch Icon (when adding to home screen on iOS devices) -->
    <link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon.png' %}">

    <!-- Web Application Manifest (for PWA support) -->
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!--
        - custom css link
    -->

    {% block stylesheet %}

    {% endblock stylesheet %}

    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <!--
        - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/notyf.min.css' %}">

</head>

<body>

    {% include 'loading.html' %}

    <div class="overlay" data-overlay></div>

    <!--
        - MODAL
    -->

    <!-- <div class="modal" data-modal>

    <div class="modal-close-overlay" data-modal-overlay></div>

    <div class="modal-content">

      <button class="modal-close-btn" data-modal-close>
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <div class="newsletter-img">
        <img src="./assets/images/newsletter.png" alt="subscribe newsletter" width="400" height="400">
      </div>

      <div class="newsletter">

        <form action="#">

          <div class="newsletter-header">

            <h3 class="newsletter-title">Subscribe Newsletter.</h3>

            <p class="newsletter-desc">
              Subscribe the <b>Anon</b> to get latest products and discount update.
            </p>

          </div>

          <input type="email" name="email" class="email-field" placeholder="Email Address" required>

          <button type="submit" class="btn-newsletter">Subscribe</button>

        </form>

      </div>

    </div>

  </div> -->





    <!--
    - NOTIFICATION TOAST
  -->

    <!-- <div class="notification-toast" data-toast>

    <button class="toast-close-btn" data-toast-close>
      <ion-icon name="close-outline"></ion-icon>
    </button>

    <div class="toast-banner">
      <img src="./assets/images/products/jewellery-1.jpg" alt="Rose Gold Earrings" width="80" height="70">
    </div>

    <div class="toast-detail">

      <p class="toast-message">
        Someone in new just bought
      </p>

      <p class="toast-title">
        Rose Gold Earrings
      </p>

      <p class="toast-meta">
        <time datetime="PT2M">2 Minutes</time> ago
      </p>

    </div>

  </div> -->





    <!--
    - HEADER
  -->

    <header>

        <div class="header-top">

            <div class="container">

                <ul class="header-social-container">

                    <li>
                        <a href="#" class="social-link">
                            <img src="{% static 'images/ionicons/logo-instagram.svg' %}" width="17" height="17">
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <img src="{% static 'images/ionicons/logo-linkedin.svg' %}" width="17" height="17">
                        </a>
                    </li>

                </ul>

                <div class="header-alert-news">
                    <p>
                        Layihəyə dəstək üçün
                        <a href="https://kofe.al/@kitlab" target="_blank" class="kofe-al"><b>&nbsp Kofe al</b></a>
                    </p>
                </div>

                <div class="header-top-actions">

                    {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="auth-btn"><b>Çıxış et</b></button>
                    </form>
                    {% else %}
                    <a href="{% url 'auth' %}" class="auth-btn"><b>Giriş & Qeydiyyat</b></a>
                    {% endif %}
          
                </div>

            </div>

        </div>

        <div class="header-main">

            <div class="container">

                <div class="header-logo-container">

                    <a href="{% url 'index' %}" class="header-logo">
                        <img src="{% static 'images/logo.png' %}" alt="Kitlab logo" width="110" height="36">
                    </a>

                    <div class="button-group">

                        <button class="action-btn" data-mobile-menu-open-btn>
                            <img src="{% static 'images/ionicons/menu-outline.svg' %}" width="26" height="26">
                        </button>

                    </div>

                </div>

                <div class="header-search-container">

                    <input type="search" name="search" class="search-field" placeholder="Yeni kitablar kəşf et...">

                    <button class="search-btn">
                        <img src="{% static 'images/ionicons/search-outline.svg' %}" width="18" height="18">
                    </button>

                </div>

                <div class="header-user-actions">

                    <button class="action-btn">
                        {% if 'sale' in request.path %}
                        <a href="{% url 'sale' %}"><img src="{% static 'images/ionicons/add-circle-sharp.svg' %}" width="35" height="35"></a>
                        {% else %}
                        <a href="{% url 'sale' %}"><img src="{% static 'images/ionicons/add-circle-outline.svg' %}" width="35" height="35"></a>
                        {% endif %}
                    </button>

                    <button class="action-btn">
                        {% if 'profile' in request.path %}
                        <a href="{% url 'profile' %}"><img src="{% static 'images/ionicons/person-sharp.svg' %}" width="35" height="35"></a>
                        {% else %}
                        <a href="{% url 'profile' %}"><img src="{% static 'images/ionicons/person-outline.svg' %}" width="35" height="35"></a>
                        {% endif %}
                    </button>

                    <button class="action-btn">
                        <a href="#"><img src="{% static 'images/ionicons/chatbubble-ellipses-outline.svg' %}" width="35" height="34"></a>
                        <span class="count">0</span>
                    </button>

                </div>

            </div>

        </div>

        <nav class="desktop-navigation-menu">

            <div class="container">

                <ul class="desktop-menu-category-list">

                    {% include 'menu-list.html' %}

                </ul>

            </div>

        </nav>

        <div class="mobile-bottom-navigation">

            <button class="action-btn">
                {% if request.path == '/' %}
                <a href="{% url 'index' %}"><img src="{% static 'images/ionicons/home-sharp.svg' %}" width="26" height="26"></a>
                {% else %}
                <a href="{% url 'index' %}"><img src="{% static 'images/ionicons/home-outline.svg' %}" width="26" height="26"></a>
                {% endif %}
            </button>

            <button class="action-btn" data-mobile-menu-open-btn>
                <img src="{% static 'images/ionicons/grid-outline.svg' %}" width="26" height="26">
            </button>

            <button class="action-btn sale-page-btn">
                {% if 'sale' in request.path %}
                <a href="{% url 'sale' %}"><img src="{% static 'images/ionicons/add-circle-sharp.svg' %}" width="40" height="40"></a>
                {% else %}
                <a href="{% url 'sale' %}"><img src="{% static 'images/ionicons/add-circle-outline.svg' %}" width="35" height="35"></a>
                {% endif %}
            </button>

            <button class="action-btn">
                <a href="#"><img src="{% static 'images/ionicons/chatbubble-ellipses-outline.svg' %}" width="26" height="26"></a>
                <span class="count">0</span>
            </button>

            <button class="action-btn">
                {% if 'profile' in request.path %}
                <a href="{% url 'profile' %}"><img src="{% static 'images/ionicons/person-sharp.svg' %}" width="26" height="26"></a>
                {% else %}
                <a href="{% url 'profile' %}"><img src="{% static 'images/ionicons/person-outline.svg' %}" width="26" height="26"></a>
                {% endif %}
            </button>

        </div>

        <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

            <div class="menu-top">
                <h2 class="menu-title">Menu</h2>

                <button class="menu-close-btn" data-mobile-menu-close-btn>
                    <img src="{% static 'images/ionicons/close-outline.svg' %}" width="26" height="26">
                </button>
            </div>

            <ul class="mobile-menu-category-list">

                {% include 'menu-list.html' %}

            </ul>

            <div class="menu-bottom">
                <p>
                    Layihəyə dəstək üçün
                    <a href="https://kofe.al/@kitlab" target="_blank" class="mobile-kofe-al"><b>&nbsp Kofe al</b></a>
                </p>

                <ul class="menu-social-container">

                    <li>
                        <a href="#" class="social-link">
                            <img src="{% static 'images/ionicons/logo-instagram.svg' %}" width="17" height="17">
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <img src="{% static 'images/ionicons/logo-linkedin.svg' %}" width="17" height="17">
                        </a>
                    </li>

                </ul>

            </div>

            <div class="mobile-auth-btn">

                <div>
                    {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="auth-btn"><b>Çıxış et</b></button>
                    </form>
                    {% else %}
                    <a href="{% url 'auth' %}" class="auth-btn"><b>Giriş & Qeydiyyat</b></a>
                    {% endif %}
                </div>
      
            </div>

        </nav>

    </header>

    {% block content %}

    {% endblock content %}

    <!--
        - FOOTER
    -->

    <footer>

        <div class="footer-nav">

            <div class="container">

                <ul class="footer-nav-list">

                    <li class="footer-nav-item">
                        <h2 class="nav-title">Contact</h2>
                    </li>

                    <li class="footer-nav-item flex">
                        <div class="icon-box">
                            <img src="{% static 'images/ionicons/location-outline.svg' %}" width="25" height="25">
                        </div>

                        <address class="content">Bakı, Azərbaycan</address>
                    </li>

                    <li class="footer-nav-item flex">
                        <div class="icon-box">
                            <img src="{% static 'images/ionicons/call-outline.svg' %}" width="25" height="25">
                        </div>

                        <a href="tel:+994507359344" class="footer-nav-link">+994 (50) 735-93-44</a>
                    </li>

                    <li class="footer-nav-item flex">
                        <div class="icon-box">
                            <img src="{% static 'images/ionicons/mail-outline.svg' %}" width="25" height="25">
                        </div>

                        <a href="mailto:kitlabproject@gmail.com" class="footer-nav-link">kitlabproject@gmail.com</a>
                    </li>

                </ul>

                <ul class="footer-nav-list">

                    <li class="footer-nav-item">
                        <h2 class="nav-title">Follow Us</h2>
                    </li>

                    <li>
                        <ul class="social-link">

                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link">
                                    <img src="{% static 'images/ionicons/logo-instagram.svg' %}" width="17" height="17">
                                </a>
                            </li>

                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link">
                                    <img src="{% static 'images/ionicons/logo-linkedin.svg' %}" width="17" height="17">
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>

            </div>

        </div>

        <div class="footer-bottom">

            <div class="container">

                <p class="copyright">Copyright &copy; <a href="/">Kitlab</a> - all rights reserved.</p>

            </div>

        </div>

    </footer>

    <!--
        - ionicon link
    -->
    <script src="{% static 'js/notyf.min.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/app.js' %}"></script>

    {% block script %}

    {% endblock script %}

</body>

</html>