<li class="menu-category">
    <a href="{% url 'index' %}" class="menu-title">Əsas Səhifə</a>
</li>

<li class="menu-category">
    <a href="{% url 'profile' %}" class="menu-title">Profil</a>
</li>

<li class="menu-category">
    <a href="{% url 'secondhand-books' %}" class="menu-title">İkinci Əl Kitablar</a>
</li>

<li class="menu-category">
    <a href="{% url 'new-books' %}" class="menu-title">Yeni Kitablar</a>
</li>

<li class="menu-category">
    <a href="https://kofe.al/kitlab/posts" target="_blank" class="menu-title">Blog</a>
</li>

<li class="menu-category">
    <a href="https://kofe.al/@kitlab" target="_blank" class="menu-title">Haqqında</a>
</li>

<li class="menu-category">
    <a href="{% url 'contact' %}" class="menu-title">Əlaqə</a>
</li>