<li class="menu-category">
    <a href="{% url 'index' %}" class="menu-title">Əsas Səhifə</a>
</li>

<li class="menu-category">
    <a href="#" class="menu-title">İkinci Əl Kitablar</a>
</li>

<li class="menu-category">
    <a href="#" class="menu-title">Yeni Kitablar</a>
</li>

<li class="menu-category">
    <a href="#" class="menu-title">Dərsliklər</a>
</li>

<li class="menu-category">
    <a href="#" class="menu-title">Blog</a>
</li>

<li class="menu-category">
    <a href="#" class="menu-title">Haqqında</a>
</li>

<li class="menu-category">
    <a href="#" class="menu-title">Əlaqə</a>
</li>