{% load static %}
{% load custom_book_filters %}

<div class="sidebar has-scrollbar" data-mobile-menu>

    <div class="sidebar-category">

        <div class="sidebar-top">
            <h2 class="sidebar-title">Kateqoriyalar</h2>

            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>

        <ul class="sidebar-menu-category-list">
            {% for category in categories %}
            <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                        <p class="menu-title-img">{{ category.emoji_code|safe }}</p>
                        <p class="menu-title">{{ category.name }}</p>
                    </div>

                    <div>
                        <img src="{% static 'images/ionicons/add-outline.svg' %}" width="18" height="18" class="add-icon ionicon">
                        <img src="{% static 'images/ionicons/remove-outline.svg' %}" width="18" height="18" class="remove-icon ionicon">
                    </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                    {% for children in category.childrens.all %}
                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">{{ children.name }}</p>
                            <data value="{{ children.sub_books.count }}" class="stock" title="Available Stock">{{ children|approved_sub_books_count }}</data>
                        </a>
                    </li>
                    {% endfor %}

                </ul>

            </li>
            {% endfor %}

        </ul>

    </div>

    {% if suggestions %}
    <div class="product-showcase">

        <h3 class="showcase-heading">təkliflər</h3>

        <div class="showcase-wrapper">

            <div class="showcase-container">
                {% for book in suggestions %}

                <div class="showcase">

                    <a href="#" class="showcase-img-box">
                        <img src="{{ book.cover_photo.url }}" alt="{{ book.name }}" width="75" height="75"
                            class="showcase-img">
                    </a>

                    <div class="showcase-content">

                        <a href="#">
                            <h4 class="showcase-title">{{ book.name }}</h4>
                        </a>

                        <!-- <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div> -->

                        <div class="price-box">
                            <del>{{ book.price }}₼</del>
                            <p class="price">{{ book.price }}₼</p>
                        </div>

                    </div>

                </div>
                {% endfor %}

            </div>

        </div>

    </div>
    {% endif %}

</div>